/ELS
/ELS-4.0.0.exe
/Thumbs.db
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/.gitignore
/.idea/misc.xml
/.idea/modules.xml
/.idea/vcs.xml
/ELS-Windows-Installer.iml
/.idea/markdown.xml
/els-installer.exe
